body,html {
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
section {
  position: relative;
  margin: 0 auto;
}
p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 14px;
}

.name {
  position: relative;
  margin: 0 auto;
  font-size: 50px;
  max-width: 500px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

#bio {
  max-width: 500px;
  margin-top: 80px;
}
#work {
  max-width: 500px;
  margin-top: 80px;
  margin-bottom: 150px;
}
#data-visualizations {
  margin-top: 30px;
  margin-bottom: 80px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
li {
  margin: .5rem 0 .75rem 0;
  line-height: 1.7;
  margin-top: 30px;
}
.item a {
  font-size: 16px;
  border: none;
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid #eb5757;
  font-weight: bold;
}
h4 {
  margin:0;
}
.secondary-list {
  list-style-type: square;
  padding: 0;
  margin:0;
}
.secondary-item {
  position: relative;
  margin: 0;
  line-height: 1.7;
  left: 20px;
}

.secondary-link {
  font-size: 15px;
}
.tertiary-link {
  font-size: 14px;
}
.explanation {
  margin-top: 0;
}
