body,html {
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  max-width: 650px;
  margin: auto;
  padding: 1em;
}
section {
  position: relative;
}
p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 14px;
}
.name {
  position: relative;
  margin: 0 auto;
  font-size: 50px;
  max-width: 500px;
  text-align: center;
  font-weight: 800;
  margin-top: 50px;
}

#bio {
  margin-top: 40px;
  border-top: 3px solid black;
}
#work {
  margin-top: 60px;
  margin-bottom: 150px;
}
#data-visualizations {
  margin-top: 20px;
  margin-bottom: 50px;
  border-top: 3px solid black;
}
#reports {
  border-top: 3px solid black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
li {
  margin: .5rem 0 .75rem 0;
  line-height: 1.7;
  margin-top: 35px;
  margin-bottom: 0;
}
a {
  font-size: 17px;
  border: none;
  line-height: 1;
  text-decoration: none;
  color: #7D6298;
  font-weight: 700;
}
h2 {
  margin-top: 3px;
  margin-bottom: 30px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
}
h4 {
  margin:0;
  font-size: 17px;
  font-weight: 700;
}
.date {
  float: right;
}
.secondary-list {
  list-style-type: square;
  padding: 0;
  margin:0;
}
.secondary-item {
  position: relative;
  margin: 0;
  line-height: 1.7;
  left: 20px;
}
.secondary-link {
  font-size: 15px;
}
.tertiary-link {
  font-size: 14px;
}
.explanation {
  margin-top: 0;
}
@media screen and (min-width:521px) {
  #aboutme-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width:469px) and (max-width:520px) {
  #aboutme-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width:468px) {
  #aboutme-img {
    margin: auto;
    display: block;
  }
}
