body {
  margin: 2rem 1rem;
}
.title {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 900;
  margin: 50px auto 0 auto;
  text-align: center;
}
a {
  color: #000;
}
a:hover {
  color: #414192;
  text-decoration: underline;
}
h2 {
  flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
p {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  a { font-size: 16px; }
}
section {
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  li:first-of-type {
    margin-top: 2rem;
  }
}
.section--bio {
  border-top: 3px solid black;
  margin-top: 40px;
}
.aboutme {
  display: flex;
  margin: 0 0 1rem 0;
  max-width: 650px;
  &__img {
    display: block;
    border-radius: 50%;
    height: 180px;
    margin: 0 auto 2rem auto;
    min-width: 180px;
  }
  &__text {
    margin: 1rem 0;
  }
  &__social {
    float: right;
  }
  &__social__icon {
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 25px;
  }
}
.section--work {
  border-top: 3px solid black;
  margin: 4rem 0 0 0;
}
.header {
  display: block;
}
.item {
  border-bottom: 1px solid #E9ECEF;
  margin: 0 0 2rem;
  padding-bottom: 1.5rem;

  &__title {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    a {
        text-decoration: none;
    }
  }
  &__explanation {
    margin: 0.5rem auto;
  }
  &__img {
    width: 100%;
  }
  &__imgContainer {
    margin-bottom: 1rem;
  }
}
@media (min-width: 600px) {
  .aboutme {
    &__img {
      margin: 0 2.5rem 2.5rem 0;
    }
    &__text { flex-grow: 1; }
    &__container { display: flex; }
  }
  .header { display: flex; }

  .item {
    border-bottom: none;
    display: flex;
    padding-bottom: 0;

    &__imgContainer {
      margin: 0 2rem 2rem 0;
    }
    &__img {
      margin-bottom: 0;
      width: 260px;
    }
  }
}
@media screen and (min-width: 720px) {
  body {
    margin: 2rem auto;
    max-width: 700px;
  }
}
