body {
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
  margin: 4rem auto;
  max-width: 650px;
}
a:hover {
  color: #0076B2;
  text-decoration: underline;
}
.title {
  font-size: 45px;
  font-weight: 800;
  margin: 50px auto 0 auto;
  text-align: center;
}
h2 {
  flex-grow: 1;
  font-size: 15px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}
h4 {
  font-size: 17px;
  font-weight: 700;
  margin:0;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  a { font-size: 16px; }
}
section {
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.section--bio {
  border-top: 3px solid black;
  margin-top: 40px;
}
.aboutme-img {
  height: 140px;
  margin: 0 20px 40px 0;
  min-width: 140px
}
.aboutme-text {
  flex-grow: 1;
}
.aboutme-social-container {
  display: flex;
  margin: 0 0 1rem 0;
  max-width: 650px;
}
.aboutme-container {
  display: flex;
}
.social-icon {
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 25px;
}
.section--work {
  border-top: 3px solid black;
  margin: 3rem 0 0 0;
}
.header {
  display: flex;
  .category__item { cursor: pointer; }
  #category__item--all { display: none; }
}
.category {
  display: flex;
  &__item {
    background-color: #F2F5F8;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.2rem 0.5rem;
  }
  &__item--selected {
    background-color: #c1c4c6;
  }
}
.item {
  display: flex;
  line-height: 1.7;
  margin: 3rem 0;
  &-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    a {
      color: #000;
      text-decoration: none;
    }
    a:hover {
      color: #0076B2;
      text-decoration: underline;
    }
  }
}
.explanation {
  margin: 0.5rem auto 0 auto;
}
.icon-container {
  margin: 0 2rem 2rem 0;
}
.icon-img {
  width: 200px;
}

.report-item {
  margin-top: 30px;
}
#reports {
  border-top: 3px solid black;
  margin-top: 60px;
}

@media (max-width: 650px+32px) {
  body {
    margin: 4rem 1rem;
  }
}
@media (max-width: 600px) {
  ul {
    li:first-of-type {
      margin-top: 2rem;
    }
    .icon-container { display: none; }
  }
}
@media (max-width: 500px) {
  .header {
    display: block;
    .category { margin: 1rem 0 0 0; }
  }
}
@media (max-width:470px) {
  .aboutme-container { display: block; }
  .aboutme-img {
    display: block;
    margin: 0 auto;
  }
  .aboutme-text { margin: 2rem 0 0 0; }
  .icon-container { display: none; }
  .item { margin: 2rem 0; }
}
