body,html {
  font-family: system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  max-width: 650px;
  margin: auto;
  padding: 1em;
}
section {
  position: relative;
}
p {
  font-weight: 300;
  line-height: 1.7;
  font-size: 14px;
}
.name {
  position: relative;
  margin: 0 auto;
  font-size: 50px;
  max-width: 500px;
  text-align: center;
  font-weight: 800;
  margin-top: 50px;
}

#bio {
  margin-top: 40px;
  border-top: 3px solid black;
}
#work {
  margin-top: 70px;
  margin-bottom: 150px;
}
#dashboards {
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: 3px solid black;
}
#narrative-stories {
  border-top: 3px solid black;
  margin-top: 50px;
}
#reports {
  border-top: 3px solid black;
  margin-top: 60px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.item {
  margin: .5rem 0 .75rem 0;
  line-height: 1.7;
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;
}
.viz-item {
  padding-top: 35px;
  border-top: 1px dotted #bbbbbb;
}
.viz-item:first-child {
  border-top: none;
  padding-top: 0px;
}
.report-item {
  margin-top: 30px;
}
a {
  font-size: 17px;
  line-height: 1;
  color: black;
  font-weight: 700;
}
h2 {
  margin-top: 3px;
  margin-bottom: 30px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
}
h4 {
  margin:0;
  font-size: 17px;
  font-weight: 700;
}
.date {
  float: right;
}
.tertiary-link {
  font-size: 14px;
}
.explanation {
  margin-top: 0;
  margin-bottom: 0;
}
.icon-container {
  min-width: 180px;
  margin-right: 30px;
}
#aboutme-social-container {
  display: flex;
  max-width: 650px;
}
#aboutme-text {
  flex-grow: 1;
}
.social-icon {
  display: inline-block;
  -webkit-user-select:none;
  -moz-user-select:none;
  padding: 5px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
@media screen and (min-width:633px) {
  #aboutme-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .item-group {
    height: 290px;
  }
}
@media screen and (min-width:554px) and (max-width:632px) {
  #aboutme-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width:469px) and (max-width:553px) {
  #aboutme-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width:468px) {
  #aboutme-img {
    margin: auto;
    display: block;
  }
  .icon-container {
    display: none;
  }
}
